@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type='radio']:checked+.radioBtn{
background-color: #404B7C !important;
border-color: #404B7C !important;
color:white;
}
